@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800;900&display=swap');

.about-main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', serif;
    background-color: #F0F0F0;
}

/* heading tags colors */
.heading-tags-color {
    color: #113108;
}

/* cards styles */
.aboutCard1 {
    background-color: #1E1E1E;
}

.aboutCard1 p {
    color: #7DFB50;
}

.aboutCard2 {
    background-color: #6FD44F;
}

.aboutCard2 p {
    color: #1E1E1E;
}

.aboutCard3 {
    background-color: #113108;
}

.aboutCard3 p {
    color: #7DFB50;
}

/* cards styles */