@media only screen and (max-width:576px){
  .main-contact-form .contact-image{
    display: none;
  }
  .main-contact-form .contactForm .firstP{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .main-contact-form .contactForm .firsth1{
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }
  .main-contact-form .contactForm .contactLine{
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width:768px){
  .main-contact-form .contact-image{
    display: none;
  }
  .main-contact-form .contactForm .firstP{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .main-contact-form .contactForm .firsth1{
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }
  .main-contact-form .contactForm .contactLine{
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width:992px){
  .main-contact-form .contact-image{
    width: 8rem;
  }
}