@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  font-family: 'Inter',sans-serif;
}
body{
  background-color: #F0F0F0;
}
.head{
  font-family: 'Inter ' ,sans-serif;
}
.background{
  background-color: #E2FBE8;
}
.background .routerP > p{
  font-size: 1.2rem;
  font-weight: 400;
}
.background .btn1{
  background-color: #6FD44F;
  padding: 0.7rem 1.3rem;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 14px;
}


.tikketOnePage-main {
  background-image: url("./assets/tickets/chipta.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


